profiles {
    docker {
        process.executor = 'local'
        // process.queue = 'normal'
        docker.enabled = true
        docker.runOptions='-u $(id -u):$(id -g)'
        singularity.enabled=false
        apptainer.enabled=false
        conda.enabled=false
        process.resourceLimits = [
            memory: 10.GB,
            cpus:12
        ]
    }
}

// docker run -it --rm -v /var/run/docker.sock:/var/run/docker.sock -v /usr/bin/docker:/usr/bin/docker \
// -e PROJECT_DIR=$PWD -v $PWD:$PWD -w $PWD nextflow/nextflow:24.10.5 nextflow run rnaseq.nf -profile docker

// // single-end command
// docker run -it --rm -v /var/run/docker.sock:/var/run/docker.sock -v /usr/bin/docker:/usr/bin/docker -e PROJECT_DIR=$PWD\
//  -v $PWD:$PWD -w $PWD nextflow/nextflow:24.10.5 nextflow run rnaseq.nf -profile docker --read_type SE


// // paired-end command
// docker run -it --rm -v /var/run/docker.sock:/var/run/docker.sock -v /usr/bin/docker:/usr/bin/docker -e PROJECT_DIR=$PWD\
//  -v $PWD:$PWD -w $PWD nextflow/nextflow:24.10.5 nextflow run rnaseq.nf -profile docker --read_type PE